// Color
$brown: #2b2520;
$green: #39dbc2;
$pink: #f41fbf;
$yellow: #ffed28;
$purple: #b028ff;
$blue: #49a7ff;
$red: #ff3838;
$orange: #db7953;

// Size
$extra-large: 110px;
$large: 84px;

// Style 5, cyber-text
.cyber-text {
  position: relative;
  text-transform: uppercase;
  font-size: $extra-large;
  color: rgba(white, 0.8);
  &:before {
    position: absolute;
    content: $random-text;
    color: rgba($blue, 0.8);
    top: 5px;
    left: 10px;
  }
  &:after {
    z-index: -1;
    position: absolute;
    color: rgba($red, 0.8);
    top: -5px;
    left: 8px;
  }
}
